:root {
  --jsblack: #323330;
  --jsyellowish: #f0db4f;
  --mintcream: #f4fff8;
}

* {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
}

nav {
  padding: 6vh 1.3vw;
  background-color: var(--jsyellowish);
  height: 100vh;
  max-width: 200px;
  position: fixed;
  top: 0;
  bottom: 0;
}

main {
  padding: 3vh 3vw;
  background-color: var(--jsblack);
  color: var(--mintcream);
  margin-left: 200px;
}

header {
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 1.5vh;
}

nav a {
  text-decoration: none;
  margin-top: 2vh;
  display: flex;
  flex-direction: column;
  font-size: 1.1rem;
}

nav a:hover {
  color: var(--mintcream);
  transition: all 0.3s ease 0s;
}

nav,
a {
  color: var(--jsblack);
}

main h2 {
  border-bottom: 1px solid yellow;
  font-size: 1.3rem;
  margin: 2.7vh 0;
}

main h3 {
  font-size: 1.1rem;
}

main h2,
main h3 {
  font-weight: 500;
}

.gl-scope-header,
.lcl-scope-header {
  margin: 2vh 0;
}

main p {
  font-weight: 400;
  margin: 1.5vh 0;
}

.code-sect {
  background-color: #777;
  width: 50%;
  padding: 1.3rem;
  border-radius: 8px;
}

table,
tr,
td {
  border-bottom: 1px solid var(--jsblack);
  border-collapse: collapse;
  padding: 1rem;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #e1e1e1;
}

tr:first-child {
  background-color: var(--jsyellowish);
  font-weight: 700;
}

table {
  width: 50%;
  height: 130px;
  background-color: var(--mintcream);
  color: var(--jsblack);
}

tr ul {
  padding: 1rem;
}

div li {
  margin-left: 1rem;
}

figure,
table {
  margin-bottom: 6vh;
}

main h3,
main h4 {
  margin: 2vh 0;
}

.currying-img,
.eventloop-img,
.fetchapi-img {
  width: 900px;
  height: 600px;
}

.ajaxxhr-img {
  background-color: var(--mintcream);
}
