:root {
  --jsblack: #323330;
  --jsyellowish: #f0db4f;
  --mintcream: #f4fff8;
}

* {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
}

nav {
  padding: 6vh 1vw;
  background-color: var(--jsyellowish);
}

main {
  padding: 3vh 3vw;
  background-color: var(--jsblack);
  color: var(--mintcream);
}

header {
  font-size: 1.5rem;
  font-weight: 600;
}

a {
  text-decoration: none;
  margin-top: 2vh;
  display: flex;
  flex-direction: column;
}

nav,
a {
  color: var(--jsblack);
}

main h2 {
  border-bottom: 1px solid yellow;
  font-size: 1.3rem;
  font-weight: 500;
}

main p {
  font-size: 1.1rem;
  font-weight: 400;
  margin-top: 1.5vh;
}

code {
  border: 1px solid pink;
  background-color: #777;
}

table {
  border: 1px solid red;
}

ul {
  border: 1px solid purple;
}
/* Make the title fonts bigger, some need to be smaller in order to have a design that makes sense */

/* code sections have to be re-done in a way that catches the attention */

/* The font has to be switched to another one with material design */

/* Images have to be resized */

/* Tables need some css */
